name: stack test
on:
  pull_request:
    branches: ["master"]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: test gitlab
        uses: "infinite-automations/terraform-all-in-one@v1"
        with:
          plan: false
          test: true
          directory: "./gitlab"
          test-directory: "./gitlab"
